Repository junerver/code_gen: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 添加ds官方模型
  .env.example
  README.md
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/utils/model.ts
  shared/types/model.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 提示词调整
  server/core/prompt/template-gen.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 提示词调整
  server/core/prompt/template-gen.ts
  shared/types/model.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 简化模型提供器使用
  app/components/ModelSelect.vue
  server/utils/model.ts
  shared/types/model.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 模型相关类型优化
  app/components/ModelSelect.vue
  server/utils/model.ts
  shared/types/model.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 百炼模型封装
  .env.example
  nuxt.config.ts
  server/utils/model.ts
  shared/types/model.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 提示词微调
  server/api/chat.post.ts
  server/core/prompt/template-gen.ts
  server/core/steps/design-component/index.ts
  shared/types/model.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

feat: 添加生成代码下载
  app/components/CodePreview.vue
  app/composables/useChat.ts
  app/pages/chat/index.vue
  server/core/prompt/template-gen.ts
  server/utils/format.ts
  shared/types/model.ts
  shared/utils/code.ts
  shared/utils/template.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 提示词调整
  app/components/CodePreview.vue
  app/pages/chat/index.vue
  server/core/prompt/template-gen.ts
  shared/utils/code.ts
  shared/utils/repair-vue.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 优化代码提取、下载
  app/composables/useChat.ts
  shared/utils/code.ts
  shared/utils/template.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 环境变量从项目传递，优化提示词限制
  server/core/prompt/template-gen.ts
  server/core/tools/mcp-tools.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

chore: 生成的sql脚本添加时间信息，会话请求添加会话id
  app/composables/useChat.ts
  server/api/chat.post.ts
  shared/utils/template.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

chore: 添加 mem0 依赖
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  server/core/prompt/template-gen.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 添加模板上下文缓存、动态系统提示词
  server/api/chat.post.ts
  server/core/prompt/template-gen.ts
  server/core/storage/template-context.ts
  shared/types/api/chat.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

refactor: 抽取模板生成相关代码
  server/api/chat.post.ts
  server/core/agents/base-template/index.ts
  server/core/agents/design-component/index.ts
  server/core/tools/mcp-tools.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

feat: 自然语言需求解析实现
  .claude/settings.local.json
  .qoder/rules/project_rules.md
  docs/steps/1.requirements-analysis.md
  server/api/requirements/clarify.post.ts
  server/api/requirements/parse.post.ts
  server/core/agents/design-component/index.ts
  server/core/agents/requirements-parser/README.md
  server/core/agents/requirements-parser/confidence-scorer.ts
  server/core/agents/requirements-parser/domain-knowledge.ts
  server/core/agents/requirements-parser/index.ts
  server/core/agents/requirements-parser/types.ts
  server/core/storage/template-context.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

wip: trae重构，简化功能
  server/api/requirements/clarify.post.ts
  server/api/requirements/conversation.post.ts
  server/api/requirements/parse.post.ts
  server/core/agents/requirements-conversation/index.ts
  server/core/agents/requirements-conversation/types.ts
  server/core/agents/requirements-parser/index.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write

wip: qoder重构，简化功能
  .qoder/quests/requirement-parsing-optimization.md
  REQUIREMENT_OPTIMIZATION_SUMMARY.md
  app/composables/useBusinessModeling.ts
  app/composables/useRequirementDialog.ts
  app/pages/requirement/index.vue
  package.json
  server/api/requirements/dialog.post.ts
  server/api/requirements/modeling.post.ts
  server/core/agents/business-modeling/index.ts
  server/core/agents/requirement-dialog/index.ts
  shared/types/business-model.ts
  shared/types/chat.ts
  shared/types/index.ts
  shared/types/requirement.ts
  tests/unit/api-endpoints.test.ts
  tests/unit/business-modeling-agent.test.ts
  tests/unit/requirement-dialog-agent.test.ts
  tests/unit/type-definitions.test.ts
  vitest.config.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 组件抽提
  .claude/settings.local.json
  CLAUDE.md
  app/components/RequirementsConversation.vue
  app/composables/useRequirementsConversation.ts
  app/pages/requirements/conversation.vue
  server/api/requirements/clarification.post.ts
  server/api/requirements/clarify.post.ts
  server/api/requirements/parse.post.ts
  server/core/agents/requirements-clarification/README.md
  server/core/agents/requirements-clarification/index.ts
  server/core/agents/requirements-modeling/README.md
  server/core/agents/requirements-modeling/confidence-scorer.ts
  server/core/agents/requirements-modeling/domain-knowledge.ts
  server/core/agents/requirements-modeling/index.ts
  server/core/agents/requirements-modeling/types.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 提示词重构
  AGENTS.md
  app/components/RequirementsConversation.vue
  app/pages/requirements/conversation.vue
  server/api/requirements/clarification.post.ts
  server/core/agents/base-template/index.ts
  server/core/agents/base-template/prompt/ai-gen.ts
  server/core/agents/base-template/prompt/template-gen.ts
  server/core/agents/requirements-analysis/index.ts
  server/core/agents/requirements-analysis/prompt.ts
  server/core/agents/requirements-clarification/index.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 重构会话列表相关逻辑、添加对接说明、补充相关注释
  app/components/ai-chat/AiChatPanel.vue
  app/components/ai-chat/README.md
  app/components/ai-chat/types.ts
  app/pages/chat/preview.vue
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

refactor: 流式消息处理
  AGENTS.md
  app/components/ai-chat/AiChatPanel.vue
  app/components/ai-chat/types.ts
  app/pages/chat/preview.vue
  app/types/chat.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

feat: prd文档agent
  server/api/prd.post.ts
  server/core/agents/prd-generator/README.md
  server/core/agents/prd-generator/builder.ts
  server/core/agents/prd-generator/index.ts
  server/core/agents/prd-generator/insights.ts
  server/core/agents/prd-generator/markdown.ts
  server/core/agents/prd-generator/prompt.ts
  server/core/agents/prd-generator/schema.ts
  server/core/agents/prd-generator/types.ts
  server/core/agents/requirements-analysis/prompt.ts
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

doc: prd 相关提示词
  docs/prd/README.md
  docs/prd/implementation-prompt-template.md
  docs/prd/interactive-prd-creation-prompt.md
  docs/prd/prd-change-management-prompt.md
  docs/prd/prd-comprehensive-verification-prompt.md
  docs/prd/prd-to-features-prompt.md
  docs/prd/prd-to-rfcs-prompt.md
  docs/prd/prd-to-rules-prompt.md
Due: prettier --write --ignore-unknown

refactor: 添加数据结构
  docs/sql/chat/README.md
  docs/sql/chat/schema.sql
Due: prettier --write --ignore-unknown

refactor: 对齐分割线
  .claude/settings.local.json
  app/components/ai-chat/AiChatPanel.vue
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

wip: 添加会话组件
  app/components/ai-chat/AiChatPanel.vue
  app/components/ai-chat/index.ts
  app/components/ai-chat/types.ts
  app/pages/chat/preview.vue
Due: sh -c 'eslint --cache --fix || true', prettier --write

doc: 添加注释、文档
  app/components/ai-chat/AiChatPanel.vue
  app/components/ai-chat/README.md
  app/pages/chat/preview.vue
Due: sh -c 'eslint --cache --fix || true', prettier --write, prettier --write --ignore-unknown

chore: 通过自行实现 transport 向header中插入自定义内容，从而实现向mcp请求时插入额外参数
  server/api/chat.post.ts
  server/core/agents/base-template/index.ts
  server/core/tools/mcp-tools.ts
  server/utils/DynamicHeaderTransport.js
Due: sh -c 'eslint --cache --fix || true', prettier --write

Path conditions:
  sh -c 'eslint --cache --fix || true': any of: **/*.{js,ts,vue}
  prettier --write: any of: **/*.{js,ts,vue}
  prettier --write --ignore-unknown: any of: **/*.{json,css,scss,md,html}
